.header-content{
    margin-left: 5%;
    color: green;
    text-align: left;
    font-weight: bolder;
    display: inline;
}
.sub-header{
    margin-left: 5%;
    color: black;
    font-weight: lighter;
}
h2::after
{
  content: '';
  border-bottom: 1px;
  display: block;
 
}
.header{
    background-color: lightgrey;
}

.searchButton {
    /* display: inline-block; */
    margin-top: 00.5%;
    margin-right: 0.5%;
    width: 40px;
    height: 30px;
    border: 1px solid #00b4cc;
    background: #00b4cc;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 10px;  
    float: right;
   display: inline;
   margin-right: 10px;
 
   
}
 
.user-data{
  border: 2px solid white;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10;
}

.circular-square {
   border-radius: 50%; 
   width: 4rem;
   display: inline-block;
  flex-direction: column;
  }

  .profile-name{
    padding-left: 0.5rem;
    display: inline;
    padding-top: 0rem;
  }

  .profile-redirect{
    text-decoration: none;
    color:black;
  }


  input, button{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
  }